body {
     font-family: sans-serif;
     background-color:  #f5f5f5;
     padding: 2rem;
     color:rgb(49, 49, 49)
}
section {
     margin-top: 2rem;
}
h1 {
     font-size: 2rem;
}
h1, h2 {
     font-weight: 600;
     letter-spacing: -0.05rem;
}
i {
     font-style: italic;
}
a {
     text-decoration: none;
     color: inherit;
}
p {
     line-height: 1.5;
}
ul {
     margin: 0;
     margin-left: 1rem;
     padding: 0;
}
ul li {
     margin-top: 0.4rem;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.profile-image {
     width: 200px;
     height:2100%;
     object-fit: cover;
     border-radius: 50%;
     padding:1rem;
     border: 1px solid #ccc;
     margin-block: 1rem;
}
.summary {
     font-size: 0.9rem;
     color: rgb(64, 64, 64);
}
.list {
     display: flex;
     flex-direction: column;
     margin-left: 0;
}
.list > li {
     border-left: 4px solid #ccc ;
     background-color: rgb(238, 238, 238);
     padding-left: 1.2rem;
     padding-block:1rem;
}
.sub-list {
     font-size: 0.8rem;
     color: rgb(64, 64, 64);
     margin-left: 0;
     margin-top: 0.5rem;
     display: flex;
     flex-direction: column;
     gap:0.2rem
}
.sub-list > li {
     margin-top: 0.1rem;
}
.mt-1 {
     margin-top: 0.5em;
}
.mt-2 {
     margin-top: 1rem;
}
.mt-3 {
     margin-top: 1.5rem;
}
.mt-4 {
     margin-top: 2rem;
}
.text-center {
     text-align: center;
}
@media only screen and (min-width: 768px) {
     .container {
          flex-direction: row;
          gap: 3rem;
          max-width: 800px;
          margin: 0 auto;
     }
     .container > div {
          flex: 1;
     }
}